/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 22, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 20px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
}

/* line 31, ../sass/partials/_base.scss */
.viz-hed {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 44, ../sass/partials/_base.scss */
.viz-subhead {
  display: inline-block;
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 20px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 53, ../sass/partials/_base.scss */
.viz-smallcaps {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 120%;
}

/* line 62, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: none;
  font-weight: 400;
}

/* line 68, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  color: #33312e;
  font-size: 14px;
  line-height: 140%;
}

/* line 76, ../sass/partials/_base.scss */
.viz-leadin {
  text-transform: uppercase;
}

/* line 80, ../sass/partials/_base.scss */
.viz-intro-leadin {
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 86, ../sass/partials/_base.scss */
.viz-source {
  display: block;
  margin: 0 0 7px;
  padding-top: 7px;
  border-top: 1px solid #ccc6b9;
  color: #99948a;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 140%;
}

/* line 103, ../sass/partials/_base.scss */
.viz-content-map {
  display: none;
}
@media (min-width: 940px) {
  /* line 103, ../sass/partials/_base.scss */
  .viz-content-map {
    display: block;
  }
}

/* line 110, ../sass/partials/_base.scss */
.viz-map-hed {
  text-align: center;
  display: none;
  margin-bottom: 10px;
}

/* line 116, ../sass/partials/_base.scss */
.viz-btns-wrapper {
  text-align: center;
}

/* line 120, ../sass/partials/_base.scss */
.viz-nav-btn {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 0 10px;
  color: #99948a;
  font-weight: 400;
  cursor: pointer;
}
/* line 126, ../sass/partials/_base.scss */
.viz-nav-btn:hover {
  color: #66635d;
}

/* line 131, ../sass/partials/_base.scss */
.viz-nav-btn-active {
  color: #33312e;
  font-weight: 500;
}

/* line 136, ../sass/partials/_base.scss */
.viz-intro-and-legend {
  padding-right: 2%;
  width: 58%;
  border-right: 1px solid #33312e;
}

/* line 142, ../sass/partials/_base.scss */
.viz-map-intro {
  display: inline-block;
  display: none;
}

/* line 147, ../sass/partials/_base.scss */
.viz-terms {
  display: block;
}

/* line 160, ../sass/partials/_base.scss */
.viz-svg-wrap {
  position: relative;
  margin: 0 auto 30px;
}

/* line 165, ../sass/partials/_base.scss */
.viz-state-shape {
  -webkit-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -moz-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -o-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  fill: white;
  stroke: white;
  stroke-width: 1px;
}

/* line 172, ../sass/partials/_base.scss */
.viz-map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1109px;
  pointer-events: none;
}

/* line 179, ../sass/partials/_base.scss */
.viz-hover-callout {
  display: inline-block;
  float: right;
  width: 40%;
}

/* line 185, ../sass/partials/_base.scss */
.viz-state-active {
  stroke-width: 2px;
}

/* line 189, ../sass/partials/_base.scss */
.viz-proxies {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
}

/* line 197, ../sass/partials/_base.scss */
.viz-proxy {
  position: absolute;
  height: 14px;
}

/* line 202, ../sass/partials/_base.scss */
.viz-proxy-HI {
  width: 24px;
  height: 20px;
  top: 577px;
  left: 235px;
}

/* line 208, ../sass/partials/_base.scss */
.viz-proxy-FL {
  width: 43px;
  top: 520px;
  left: 630px;
}

/* line 213, ../sass/partials/_base.scss */
.viz-proxy-VT {
  width: 40px;
  height: 20px;
  top: 136px;
  left: 730px;
}

/* line 219, ../sass/partials/_base.scss */
.viz-proxy-NH {
  width: 47px;
  top: 185px;
  left: 830px;
}

/* line 224, ../sass/partials/_base.scss */
.viz-proxy-MA {
  width: 75px;
  top: 200px;
  left: 832px;
}

/* line 229, ../sass/partials/_base.scss */
.viz-proxy-RI {
  width: 85px;
  top: 217px;
  left: 850px;
}

/* line 234, ../sass/partials/_base.scss */
.viz-proxy-CT {
  width: 26px;
  top: 240px;
  left: 825px;
}

/* line 239, ../sass/partials/_base.scss */
.viz-proxy-NJ {
  width: 65px;
  top: 260px;
  left: 795px;
}

/* line 244, ../sass/partials/_base.scss */
.viz-proxy-DE {
  width: 60px;
  top: 283px;
  left: 793px;
}

/* line 249, ../sass/partials/_base.scss */
.viz-proxy-MD {
  width: 50px;
  top: 302px;
  left: 785px;
}

/* line 254, ../sass/partials/_base.scss */
.viz-proxy-DC {
  width: 25px;
  top: 320px;
  left: 776px;
}

/* line 267, ../sass/partials/_base.scss */
.viz-legend {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #33312e;
}

/* line 273, ../sass/partials/_base.scss */
.viz-scale-label {
  margin: 0 0 5px;
  width: 100%;
  color: #99948a;
  font-weight: 400;
}

/* line 280, ../sass/partials/_base.scss */
.viz-segment-label {
  margin-left: -7px;
}

/* line 284, ../sass/partials/_base.scss */
.viz-scale {
  margin: 0;
  padding: 0;
  color: #99948a;
}

/* line 290, ../sass/partials/_base.scss */
.viz-scale-regional {
  display: none;
}

/* line 294, ../sass/partials/_base.scss */
.viz-scale-segment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding-top: 3px;
  border-top: 10px solid;
  list-style: none;
}

/* line 302, ../sass/partials/_base.scss */
.viz-ing-segment {
  width: 25%;
}
/* line 304, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(1) {
  border-color: #fee5d9;
}
/* line 307, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(2) {
  border-color: #fcae91;
}
/* line 310, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(3) {
  border-color: #fb6a4a;
}
/* line 313, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(4) {
  border-color: #cb181d;
}

/* line 318, ../sass/partials/_base.scss */
.viz-reg-segment {
  width: 16.666666667%;
}
/* line 329, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(1) {
  border-color: #e0e0e0;
}
/* line 332, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(2) {
  border-color: white;
}
/* line 335, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(3) {
  border-color: #fddbc7;
}
/* line 338, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(4) {
  border-color: #f4a582;
}
/* line 341, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(5) {
  border-color: #d6604d;
}
/* line 344, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(6) {
  border-color: #b2182b;
}

@media (min-width: 940px) {
  /* line 362, ../sass/partials/_base.scss */
  .viz-charts-wrapper {
    display: none;
  }
}

/* line 368, ../sass/partials/_base.scss */
.viz-list-wrapper {
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-list-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 373, ../sass/partials/_base.scss */
.viz-states {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}
/* line 378, ../sass/partials/_base.scss */
.viz-states .viz-state:last-child {
  margin-bottom: -5px;
}
@media (min-width: 600px) {
  /* line 373, ../sass/partials/_base.scss */
  .viz-states {
    width: 50%;
  }
}

@media (min-width: 600px) {
  /* line 386, ../sass/partials/_base.scss */
  .viz-states-col-1 {
    float: left;
    padding-right: 2%;
    border-right: 1px solid #ccc6b9;
  }
}

@media (min-width: 600px) {
  /* line 394, ../sass/partials/_base.scss */
  .viz-states-col-2 {
    float: right;
    padding-left: 2%;
  }
}

/* line 401, ../sass/partials/_base.scss */
.viz-state {
  margin-bottom: 20px;
  width: 100%;
  list-style-type: none;
}

/* line 407, ../sass/partials/_base.scss */
.viz-table {
  width: 100%;
  border-collapse: collapse;
}

/* line 412, ../sass/partials/_base.scss */
.viz-thead {
  border-top: 1px solid #ccc6b9;
  border-bottom: 1px solid #ccc6b9;
}

/* line 418, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(2) {
  width: 20%;
}
/* line 421, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(3) {
  width: 20%;
}
/* line 424, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(4) {
  width: 20%;
}

/* line 429, ../sass/partials/_base.scss */
.viz-th {
  margin-bottom: 3px;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  text-align: left;
}

/* line 440, ../sass/partials/_base.scss */
.viz-td {
  padding: 6px 0 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 447, ../sass/partials/_base.scss */
.viz-body-tr:first-of-type .viz-td {
  padding-top: 6px;
}

/* line 452, ../sass/partials/_base.scss */
.viz-table-quant-val {
  text-align: right;
}

/* line 456, ../sass/partials/_base.scss */
.viz-table-downplay-val {
  color: #ccc6b9;
  font-weight: 300;
}

/* line 462, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  right: 0;
  bottom: -325px;
  left: 0;
  margin: auto auto;
  width: 280px;
}
/* line 469, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 25, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/site.scss */
body {
  margin: 0 auto;
  padding: 15px 20px;
}
@media (min-width: 600px) {
  /* line 29, ../sass/site.scss */
  body {
    padding: 40px 20px;
  }
}
