/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 22, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 40px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
}

/* line 31, ../sass/partials/_base.scss */
.viz-hed {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
}

/* line 43, ../sass/partials/_base.scss */
.viz-subhead {
  display: inline-block;
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 20px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 52, ../sass/partials/_base.scss */
.viz-smallcaps {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 120%;
}

/* line 61, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  font-weight: 400;
  text-transform: none;
}

/* line 67, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  color: #33312e;
  font-size: 14px;
  line-height: 140%;
}

/* line 75, ../sass/partials/_base.scss */
.viz-leadin {
  text-transform: uppercase;
}

/* line 79, ../sass/partials/_base.scss */
.viz-intro-leadin {
  font-size: 12px;
  font-weight: 500;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 85, ../sass/partials/_base.scss */
.viz-source {
  display: block;
  margin: 0 0 7px;
  padding-top: 7px;
  border-top: 1px solid #ccc6b9;
  color: #99948a;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 140%;
}

/* line 103, ../sass/partials/_base.scss */
.viz-intro-and-legend {
  width: 58%;
  padding-right: 2%;
  border-right: 1px solid #33312e;
}

/* line 109, ../sass/partials/_base.scss */
.viz-map-intro {
  display: inline-block;
}

/* line 123, ../sass/partials/_base.scss */
.viz-svg-wrap {
  position: relative;
  margin: 0 auto 30px;
}

/* line 128, ../sass/partials/_base.scss */
.viz-state-shape {
  -webkit-transition: stroke-width 0.2s ease-in-out;
  -moz-transition: stroke-width 0.2s ease-in-out;
  -o-transition: stroke-width 0.2s ease-in-out;
  transition: stroke-width 0.2s ease-in-out;
  stroke: white;
  stroke-width: 1px;
}

/* line 134, ../sass/partials/_base.scss */
.viz-map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 118%;
  pointer-events: none;
}

/* line 140, ../sass/partials/_base.scss */
.viz-hover-callout {
  display: inline-block;
  width: 40%;
  float: right;
}

/* line 146, ../sass/partials/_base.scss */
.viz-state-active {
  stroke-width: 2px;
}

/* line 158, ../sass/partials/_base.scss */
.viz-legend {
  border-top: 1px solid #33312e;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 164, ../sass/partials/_base.scss */
.viz-scale-label {
  width: 100%;
  margin: 0 0 5px;
  font-weight: 400;
  color: #99948a;
}

/* line 171, ../sass/partials/_base.scss */
.viz-segment-label {
  margin-left: -7px;
}

/* line 175, ../sass/partials/_base.scss */
.viz-scale {
  margin: 0;
  padding: 0;
  color: #99948a;
}

/* line 181, ../sass/partials/_base.scss */
.viz-scale-segment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  width: 20%;
  border-top: 10px solid;
  list-style: none;
  padding-top: 3px;
}

/* line 191, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(1) {
  border-color: #feedde;
}
/* line 194, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(2) {
  border-color: #fdd0a2;
}
/* line 197, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(3) {
  border-color: #fdae6b;
}
/* line 200, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(4) {
  border-color: #fd8d3c;
}
/* line 203, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(5) {
  border-color: #e6550d;
}

/* line 219, ../sass/partials/_base.scss */
.viz-list-wrapper {
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-list-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 224, ../sass/partials/_base.scss */
.viz-states {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 30px;
  padding: 0;
  width: 50%;
}
/* line 229, ../sass/partials/_base.scss */
.viz-states .viz-state:last-child {
  margin-bottom: -5px;
}

@media (min-width: 600px) {
  /* line 234, ../sass/partials/_base.scss */
  .viz-states-col-1 {
    float: left;
    padding-right: 2%;
    border-right: 1px solid #ccc6b9;
  }
}

@media (min-width: 600px) {
  /* line 242, ../sass/partials/_base.scss */
  .viz-states-col-2 {
    float: right;
    padding-left: 2%;
  }
}

/* line 249, ../sass/partials/_base.scss */
.viz-state {
  margin-bottom: 20px;
  width: 100%;
  list-style-type: none;
}

/* line 255, ../sass/partials/_base.scss */
.viz-table {
  width: 100%;
  border-collapse: collapse;
}

/* line 260, ../sass/partials/_base.scss */
.viz-thead {
  border-top: 1px solid #ccc6b9;
  border-bottom: 1px solid #ccc6b9;
}

/* line 266, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(2) {
  width: 20%;
}
/* line 269, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(3) {
  width: 20%;
}
/* line 272, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(4) {
  width: 20%;
}

/* line 277, ../sass/partials/_base.scss */
.viz-th {
  margin-bottom: 3px;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 287, ../sass/partials/_base.scss */
.viz-td {
  padding: 6px 0 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 294, ../sass/partials/_base.scss */
.viz-body-tr:first-of-type .viz-td {
  padding-top: 6px;
}

/* line 299, ../sass/partials/_base.scss */
.viz-table-quant-val {
  text-align: right;
}

/* line 303, ../sass/partials/_base.scss */
.viz-table-downplay-val {
  color: #ccc6b9;
  font-weight: 300;
}

/* line 309, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  right: 0;
  bottom: -325px;
  left: 0;
  margin: auto auto;
  width: 280px;
}
/* line 316, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 25, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/site.scss */
body {
  margin: 0 auto;
  padding: 15px 20px;
}
@media (min-width: 600px) {
  /* line 29, ../sass/site.scss */
  body {
    padding: 40px 20px;
  }
}
