/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 22, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 20px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
}

/* line 31, ../sass/partials/_base.scss */
.viz-hed {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 44, ../sass/partials/_base.scss */
.viz-subhead {
  display: inline-block;
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 18px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 53, ../sass/partials/_base.scss */
.viz-smallcaps {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 120%;
}

/* line 62, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: none;
  font-weight: 400;
}

/* line 68, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  color: #33312e;
  font-size: 14px;
  line-height: 140%;
}

/* line 76, ../sass/partials/_base.scss */
.viz-leadin {
  font-weight: 500;
  color: #33312e;
  text-transform: uppercase;
}

/* line 82, ../sass/partials/_base.scss */
.viz-intro-leadin {
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 88, ../sass/partials/_base.scss */
.viz-source {
  display: block;
  margin: 0 0 7px;
  padding-top: 7px;
  border-top: 1px solid #ccc6b9;
  color: #99948a;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 140%;
}

/* line 105, ../sass/partials/_base.scss */
.viz-content-map {
  display: none;
}
@media (min-width: 1000px) {
  /* line 105, ../sass/partials/_base.scss */
  .viz-content-map {
    display: block;
  }
}

/* line 112, ../sass/partials/_base.scss */
.viz-map-hed {
  text-align: center;
  display: none;
  margin-bottom: 10px;
}

/* line 118, ../sass/partials/_base.scss */
.viz-btns-wrapper {
  text-align: center;
}

/* line 122, ../sass/partials/_base.scss */
.viz-nav-btn {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 0 10px;
  color: #99948a;
  font-weight: 400;
  cursor: pointer;
}
/* line 128, ../sass/partials/_base.scss */
.viz-nav-btn:hover {
  color: #66635d;
}

/* line 133, ../sass/partials/_base.scss */
.viz-nav-btn-active {
  color: #33312e;
  font-weight: 500;
}

/* line 138, ../sass/partials/_base.scss */
.viz-intro-and-legend {
  padding-right: 2%;
  width: 58%;
  border-right: 1px solid #33312e;
}

/* line 144, ../sass/partials/_base.scss */
.viz-map-intro {
  display: inline-block;
  display: none;
}

/* line 149, ../sass/partials/_base.scss */
.viz-terms {
  display: block;
}

/* line 162, ../sass/partials/_base.scss */
.viz-svg-wrap {
  position: relative;
  margin: 0 auto 30px;
}

/* line 167, ../sass/partials/_base.scss */
.viz-state-shape {
  -webkit-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -moz-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -o-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  fill: white;
  stroke: white;
  stroke-width: 1px;
}

/* line 174, ../sass/partials/_base.scss */
.viz-map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1109px;
  pointer-events: none;
}

/* line 181, ../sass/partials/_base.scss */
.viz-hover-callout {
  display: inline-block;
  float: right;
  width: 40%;
}

/* line 187, ../sass/partials/_base.scss */
.viz-state-active {
  stroke-width: 2px;
}

/* line 191, ../sass/partials/_base.scss */
.viz-proxies {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
}

/* line 199, ../sass/partials/_base.scss */
.viz-proxy {
  position: absolute;
  height: 14px;
}

/* line 204, ../sass/partials/_base.scss */
.viz-proxy-HI {
  width: 24px;
  height: 20px;
  top: 577px;
  left: 235px;
}

/* line 210, ../sass/partials/_base.scss */
.viz-proxy-FL {
  width: 43px;
  top: 520px;
  left: 630px;
}

/* line 215, ../sass/partials/_base.scss */
.viz-proxy-VT {
  width: 40px;
  height: 20px;
  top: 136px;
  left: 730px;
}

/* line 221, ../sass/partials/_base.scss */
.viz-proxy-NH {
  width: 47px;
  top: 185px;
  left: 830px;
}

/* line 226, ../sass/partials/_base.scss */
.viz-proxy-MA {
  width: 75px;
  top: 200px;
  left: 832px;
}

/* line 231, ../sass/partials/_base.scss */
.viz-proxy-RI {
  width: 85px;
  top: 217px;
  left: 850px;
}

/* line 236, ../sass/partials/_base.scss */
.viz-proxy-CT {
  width: 26px;
  top: 240px;
  left: 825px;
}

/* line 241, ../sass/partials/_base.scss */
.viz-proxy-NJ {
  width: 65px;
  top: 260px;
  left: 795px;
}

/* line 246, ../sass/partials/_base.scss */
.viz-proxy-DE {
  width: 60px;
  top: 283px;
  left: 793px;
}

/* line 251, ../sass/partials/_base.scss */
.viz-proxy-MD {
  width: 50px;
  top: 302px;
  left: 785px;
}

/* line 256, ../sass/partials/_base.scss */
.viz-proxy-DC {
  width: 25px;
  top: 320px;
  left: 776px;
}

/* line 269, ../sass/partials/_base.scss */
.viz-legend {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #33312e;
}

/* line 275, ../sass/partials/_base.scss */
.viz-scale-label {
  margin: 0 0 5px;
  width: 100%;
  color: #33312e;
  font-weight: 400;
}

/* line 282, ../sass/partials/_base.scss */
.viz-segment-label {
  margin-left: -7px;
}

/* line 286, ../sass/partials/_base.scss */
.viz-scale {
  margin: 0;
  padding: 0;
  color: #99948a;
}

/* line 292, ../sass/partials/_base.scss */
.viz-scale-regional {
  display: none;
}

/* line 296, ../sass/partials/_base.scss */
.viz-scale-segment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding-top: 3px;
  border-top: 10px solid;
  list-style: none;
}

/* line 304, ../sass/partials/_base.scss */
.viz-ing-segment {
  width: 25%;
}
/* line 306, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(1) {
  border-color: #fee5d9;
}
/* line 309, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(2) {
  border-color: #fcae91;
}
/* line 312, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(3) {
  border-color: #fb6a4a;
}
/* line 315, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(4) {
  border-color: #cb181d;
}

/* line 320, ../sass/partials/_base.scss */
.viz-reg-segment {
  width: 16.666666667%;
}
/* line 322, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(1) {
  border-color: #e0e0e0;
}
/* line 325, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(2) {
  border-color: white;
}
/* line 328, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(3) {
  border-color: #fddbc7;
}
/* line 331, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(4) {
  border-color: #f4a582;
}
/* line 334, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(5) {
  border-color: #d6604d;
}
/* line 337, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(6) {
  border-color: #b2182b;
}

@media (min-width: 1000px) {
  /* line 355, ../sass/partials/_base.scss */
  .viz-charts-wrapper {
    display: none;
  }
}

/* line 361, ../sass/partials/_base.scss */
.viz-list-wrapper {
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-list-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 366, ../sass/partials/_base.scss */
.viz-states {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}
/* line 371, ../sass/partials/_base.scss */
.viz-states .viz-state:last-child {
  margin-bottom: -5px;
}
@media (min-width: 600px) {
  /* line 366, ../sass/partials/_base.scss */
  .viz-states {
    width: 50%;
  }
}

@media (min-width: 600px) {
  /* line 379, ../sass/partials/_base.scss */
  .viz-states-col-1 {
    float: left;
    padding-right: 2%;
    border-right: 1px solid #ccc6b9;
  }
}

@media (min-width: 600px) {
  /* line 387, ../sass/partials/_base.scss */
  .viz-states-col-2 {
    float: right;
    padding-left: 2%;
  }
}

/* line 394, ../sass/partials/_base.scss */
.viz-state {
  margin-bottom: 20px;
  width: 100%;
  list-style-type: none;
}

/* line 400, ../sass/partials/_base.scss */
.viz-table {
  width: 100%;
  border-collapse: collapse;
}

/* line 405, ../sass/partials/_base.scss */
.viz-thead {
  border-top: 1px solid #ccc6b9;
  border-bottom: 1px solid #ccc6b9;
}

/* line 411, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(2) {
  width: 20%;
}
/* line 414, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(3) {
  width: 20%;
}
/* line 417, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(4) {
  width: 20%;
}

/* line 422, ../sass/partials/_base.scss */
.viz-th {
  margin-bottom: 3px;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  text-align: left;
}

/* line 433, ../sass/partials/_base.scss */
.viz-td {
  padding: 6px 0 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 440, ../sass/partials/_base.scss */
.viz-body-tr:first-of-type .viz-td {
  padding-top: 6px;
}

/* line 445, ../sass/partials/_base.scss */
.viz-table-quant-val {
  text-align: right;
}

/* line 449, ../sass/partials/_base.scss */
.viz-table-downplay-val {
  color: #ccc6b9;
  font-weight: 300;
}

/* line 455, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  right: 0;
  bottom: -325px;
  left: 0;
  margin: auto auto;
  width: 280px;
}
/* line 462, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 34, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 38, ../sass/widget.scss */
.full-view {
  padding-left: 0;
}

/* line 42, ../sass/widget.scss */
#page.kind-longread #page-main .after-body {
  margin: 0;
}

/* line 46, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 50, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header {
  padding-right: 0 !important;
}

/* line 54, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view .prose.body {
  padding-right: 0 !important;
}

/* line 58, ../sass/widget.scss */
#page-body {
  padding: 0 20px;
}
@media (min-width: 600px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 30px;
  }
}
@media (min-width: 850px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 50px;
  }
}
@media (min-width: 1000px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 200px 0 20px;
  }
}

/* line 71, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header .title {
  margin-top: 24px;
  margin-bottom: 15px;
}

/* line 76, ../sass/widget.scss */
.full-view .byline {
  display: none;
}

/* line 80, ../sass/widget.scss */
.full-view > header .deck, .full-view > header .deck p {
  margin-bottom: 0;
  font-weight: 500 !important;
}

/* line 88, ../sass/widget.scss */
.prose.body * {
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 92, ../sass/widget.scss */
.prose.body img {
  max-width: none;
}
/* line 96, ../sass/widget.scss */
.prose.body form {
  margin: 0 0 -15px 0;
}
/* line 100, ../sass/widget.scss */
.prose.body table {
  margin: 0;
  border: none;
}
/* line 105, ../sass/widget.scss */
.prose.body table thead, .prose.body table tfoot {
  background: none;
}
/* line 109, ../sass/widget.scss */
.prose.body p, .prose.body p:first-child, .prose.body p:first-line {
  color: inherit;
  font-weight: inherit !important;
  font-family: inherit !important;
  line-height: inherit;
}
/* line 116, ../sass/widget.scss */
.prose.body label {
  margin: 0;
}
/* line 120, ../sass/widget.scss */
.prose.body ol {
  list-style-type: none;
  line-height: 100%;
}
/* line 123, ../sass/widget.scss */
.prose.body ol li {
  width: auto;
}
/* line 128, ../sass/widget.scss */
.prose.body ul {
  margin: 0;
}
/* line 130, ../sass/widget.scss */
.prose.body ul li {
  padding-left: 0;
  line-height: 100%;
}
/* line 136, ../sass/widget.scss */
.prose.body ol > li:before {
  position: static;
}
/* line 140, ../sass/widget.scss */
.prose.body ul > li:before {
  content: none;
}
/* line 146, ../sass/widget.scss */
.prose.body .viz-hed {
  margin: 0;
  padding: 5px 10px 7px;
  padding: 5px 10px 7px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600 !important;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 158, ../sass/widget.scss */
.prose.body .viz-subhead {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 110%;
}
/* line 166, ../sass/widget.scss */
.prose.body .viz-copy, .prose.body .viz-copy:first-line, .prose.body .viz-copy:first-child {
  color: #33312e !important;
  font-size: 14px !important;
  line-height: 140% !important;
  font-weight: 500 !important;
}
/* line 173, ../sass/widget.scss */
.prose.body .viz-smallcaps {
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
  line-height: 120%;
}
/* line 179, ../sass/widget.scss */
.prose.body .viz-detail {
  color: #99948a !important;
  text-transform: none;
}
/* line 184, ../sass/widget.scss */
.prose.body .viz-source, .prose.body .viz-source:first-line, .prose.body .viz-source:first-child {
  margin: 0 0 7px;
  color: #99948a !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
  line-height: 140% !important;
}
/* line 195, ../sass/widget.scss */
.prose.body .viz-map-hed {
  margin-bottom: 10px !important;
  text-align: center;
  line-height: 120%;
}
/* line 201, ../sass/widget.scss */
.prose.body .viz-nav-btn {
  border-bottom: none;
  color: #99948a !important;
}
/* line 204, ../sass/widget.scss */
.prose.body .viz-nav-btn:hover {
  color: #66635d !important;
}
/* line 209, ../sass/widget.scss */
.prose.body .viz-nav-btn-active {
  color: #33312e !important;
}
/* line 213, ../sass/widget.scss */
.prose.body .viz-state {
  margin-bottom: 20px;
  padding: 0;
}
/* line 218, ../sass/widget.scss */
.prose.body .viz-state-anchor {
  border-bottom: none;
  color: #33312e !important;
}
/* line 223, ../sass/widget.scss */
.prose.body .viz-content-map {
  margin: 24px 0;
  margin-right: -312px;
  max-width: 940px;
}
/* line 229, ../sass/widget.scss */
.prose.body .viz-footer {
  margin-right: -312px;
  max-width: 940px;
}
/* line 234, ../sass/widget.scss */
.prose.body .viz-ing-segment {
  width: 25%;
}
/* line 238, ../sass/widget.scss */
.prose.body .viz-reg-segment {
  width: 16.666666667%;
}
/* line 242, ../sass/widget.scss */
.prose.body .viz-scale-label, .prose.body .viz-scale-label:first-line, .prose.body .viz-scale-label:first-child {
  margin: 0 0 5px;
  width: 100%;
  color: #33312e !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
}
