/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 22, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 20px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
}

/* line 31, ../sass/partials/_base.scss */
.viz-hed {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
}

/* line 43, ../sass/partials/_base.scss */
.viz-subhead {
  display: inline-block;
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 20px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 52, ../sass/partials/_base.scss */
.viz-smallcaps {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 120%;
}

/* line 61, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: none;
  font-weight: 400;
}

/* line 67, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 15px;
  color: #33312e;
  font-size: 14px;
  line-height: 140%;
}

/* line 75, ../sass/partials/_base.scss */
.viz-leadin {
  text-transform: uppercase;
}

/* line 79, ../sass/partials/_base.scss */
.viz-intro-leadin {
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 85, ../sass/partials/_base.scss */
.viz-source {
  display: block;
  margin: 0 0 7px;
  padding-top: 7px;
  border-top: 1px solid #ccc6b9;
  color: #99948a;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 140%;
}

/* line 103, ../sass/partials/_base.scss */
.viz-map-hed {
  text-align: center;
  display: none;
}

/* line 108, ../sass/partials/_base.scss */
.viz-intro-and-legend {
  padding-right: 2%;
  width: 58%;
  border-right: 1px solid #33312e;
}

/* line 114, ../sass/partials/_base.scss */
.viz-map-intro {
  display: inline-block;
  display: none;
}

/* line 119, ../sass/partials/_base.scss */
.viz-terms {
  display: block;
}

/* line 132, ../sass/partials/_base.scss */
.viz-svg-wrap {
  position: relative;
  margin: 0 auto 30px;
}

/* line 137, ../sass/partials/_base.scss */
.viz-state-shape {
  -webkit-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -moz-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  -o-transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  transition: 0.5s stroke-width ease-in-out, 0.5s fill ease-in-out;
  fill: white;
  stroke: white;
  stroke-width: 1px;
}

/* line 144, ../sass/partials/_base.scss */
.viz-map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 118%;
  pointer-events: none;
}

/* line 150, ../sass/partials/_base.scss */
.viz-hover-callout {
  display: inline-block;
  float: right;
  width: 40%;
}

/* line 156, ../sass/partials/_base.scss */
.viz-state-active {
  stroke-width: 2px;
}

/* line 168, ../sass/partials/_base.scss */
.viz-legend {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #33312e;
}

/* line 174, ../sass/partials/_base.scss */
.viz-scale-label {
  margin: 0 0 5px;
  width: 100%;
  color: #99948a;
  font-weight: 400;
}

/* line 181, ../sass/partials/_base.scss */
.viz-segment-label {
  margin-left: -7px;
}

/* line 185, ../sass/partials/_base.scss */
.viz-scale {
  margin: 0;
  padding: 0;
  color: #99948a;
}

/* line 191, ../sass/partials/_base.scss */
.viz-scale-regional {
  display: none;
}

/* line 195, ../sass/partials/_base.scss */
.viz-scale-segment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding-top: 3px;
  border-top: 10px solid;
  list-style: none;
}

/* line 203, ../sass/partials/_base.scss */
.viz-ing-segment {
  width: 20%;
}
/* line 205, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(1) {
  border-color: #feedde;
}
/* line 208, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(2) {
  border-color: #fdd0a2;
}
/* line 211, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(3) {
  border-color: #fdae6b;
}
/* line 214, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(4) {
  border-color: #fd8d3c;
}
/* line 217, ../sass/partials/_base.scss */
.viz-ing-segment:nth-of-type(5) {
  border-color: #e6550d;
}

/* line 222, ../sass/partials/_base.scss */
.viz-reg-segment {
  width: 11.111111%;
}
/* line 224, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(1) {
  border-color: #4d4d4d;
}
/* line 227, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(2) {
  border-color: #878787;
}
/* line 230, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(3) {
  border-color: #bababa;
}
/* line 233, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(4) {
  border-color: #e0e0e0;
}
/* line 236, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(5) {
  border-color: white;
}
/* line 239, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(6) {
  border-color: #fddbc7;
}
/* line 242, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(7) {
  border-color: #f4a582;
}
/* line 245, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(8) {
  border-color: #d6604d;
}
/* line 248, ../sass/partials/_base.scss */
.viz-reg-segment:nth-of-type(9) {
  border-color: #b2182b;
}

@media (min-width: 940px) {
  /* line 266, ../sass/partials/_base.scss */
  .viz-charts-wrapper {
    display: none;
  }
}

/* line 272, ../sass/partials/_base.scss */
.viz-list-wrapper {
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-list-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 277, ../sass/partials/_base.scss */
.viz-states {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 30px;
  padding: 0;
  width: 50%;
}
/* line 282, ../sass/partials/_base.scss */
.viz-states .viz-state:last-child {
  margin-bottom: -5px;
}

@media (min-width: 600px) {
  /* line 287, ../sass/partials/_base.scss */
  .viz-states-col-1 {
    float: left;
    padding-right: 2%;
    border-right: 1px solid #ccc6b9;
  }
}

@media (min-width: 600px) {
  /* line 295, ../sass/partials/_base.scss */
  .viz-states-col-2 {
    float: right;
    padding-left: 2%;
  }
}

/* line 302, ../sass/partials/_base.scss */
.viz-state {
  margin-bottom: 20px;
  width: 100%;
  list-style-type: none;
}

/* line 308, ../sass/partials/_base.scss */
.viz-table {
  width: 100%;
  border-collapse: collapse;
}

/* line 313, ../sass/partials/_base.scss */
.viz-thead {
  border-top: 1px solid #ccc6b9;
  border-bottom: 1px solid #ccc6b9;
}

/* line 319, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(2) {
  width: 20%;
}
/* line 322, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(3) {
  width: 20%;
}
/* line 325, ../sass/partials/_base.scss */
.viz-body-tr .viz-td:nth-child(4) {
  width: 20%;
}

/* line 330, ../sass/partials/_base.scss */
.viz-th {
  margin-bottom: 3px;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 340, ../sass/partials/_base.scss */
.viz-td {
  padding: 6px 0 0;
  font-weight: 400;
  font-size: 14px;
}

/* line 347, ../sass/partials/_base.scss */
.viz-body-tr:first-of-type .viz-td {
  padding-top: 6px;
}

/* line 352, ../sass/partials/_base.scss */
.viz-table-quant-val {
  text-align: right;
}

/* line 356, ../sass/partials/_base.scss */
.viz-table-downplay-val {
  color: #ccc6b9;
  font-weight: 300;
}

/* line 362, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  right: 0;
  bottom: -325px;
  left: 0;
  margin: auto auto;
  width: 280px;
}
/* line 369, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 31, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 35, ../sass/widget.scss */
.full-view {
  padding-left: 0;
}

/* line 39, ../sass/widget.scss */
#page.kind-longread #page-main .after-body {
  margin: 0;
}

/* line 43, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 47, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header {
  padding-right: 0 !important;
}

/* line 51, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view .prose.body {
  padding-right: 0 !important;
}

/* line 55, ../sass/widget.scss */
#page-body {
  padding: 0 20px;
}
@media (min-width: 600px) {
  /* line 55, ../sass/widget.scss */
  #page-body {
    padding: 0 30px;
  }
}
@media (min-width: 850px) {
  /* line 55, ../sass/widget.scss */
  #page-body {
    padding: 0 50px;
  }
}
@media (min-width: 1000px) {
  /* line 55, ../sass/widget.scss */
  #page-body {
    padding: 0 200px 0 20px;
  }
}

/* line 68, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header .title {
  margin-top: 24px;
  margin-bottom: 15px;
}

/* line 73, ../sass/widget.scss */
.full-view .byline {
  display: none;
}

/* line 81, ../sass/widget.scss */
.full-view > header .deck, .full-view > header .deck p {
  font-weight: 500 !important;
  margin-bottom: 0;
}

/* line 90, ../sass/widget.scss */
.prose.body * {
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 94, ../sass/widget.scss */
.prose.body form {
  margin: 0 0 -15px 0;
}
/* line 98, ../sass/widget.scss */
.prose.body p, .prose.body p:first-child, .prose.body p:first-line {
  font-family: inherit !important;
  color: inherit;
  line-height: inherit;
  font-weight: inherit !important;
}
/* line 105, ../sass/widget.scss */
.prose.body label {
  margin: 0;
}
/* line 110, ../sass/widget.scss */
.prose.body ol {
  list-style-type: none;
  line-height: 100%;
}
/* line 115, ../sass/widget.scss */
.prose.body ol > li {
  width: auto;
}
/* line 119, ../sass/widget.scss */
.prose.body ol > li:before {
  position: static;
}
/* line 123, ../sass/widget.scss */
.prose.body ul > li:before {
  content: none;
}
/* line 130, ../sass/widget.scss */
.prose.body .viz-graphic-text {
  color: #ff8a80;
}
/* line 134, ../sass/widget.scss */
.prose.body .viz-interactive-text {
  color: #b781ff;
}
/* line 138, ../sass/widget.scss */
.prose.body .viz-product-text {
  color: #819fff;
}
/* line 142, ../sass/widget.scss */
.prose.body .viz-architecture-text {
  color: #ff81f4;
}
/* line 146, ../sass/widget.scss */
.prose.body .viz-graphic-img {
  background-color: #ff8a80;
}
/* line 150, ../sass/widget.scss */
.prose.body .viz-interactive-img {
  background-color: #b781ff;
}
/* line 154, ../sass/widget.scss */
.prose.body .viz-product-img {
  background-color: #819fff;
}
/* line 158, ../sass/widget.scss */
.prose.body .viz-architecture-img {
  background-color: #ff81f4;
}
/* line 162, ../sass/widget.scss */
.prose.body .viz-title {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500 !important;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
  font-color: #33312e;
}
/* line 173, ../sass/widget.scss */
.prose.body .viz-native-copy {
  line-height: 160%;
  font-size: 15px;
  margin-bottom: 24px;
}
/* line 181, ../sass/widget.scss */
.prose.body .viz-bracket {
  margin: 24px 0;
  margin-right: -312px;
}
/* line 186, ../sass/widget.scss */
.prose.body .viz-legend {
  margin: 0 0 0 4px;
  list-style-type: none !important;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}
/* line 192, ../sass/widget.scss */
.prose.body .viz-legend-item {
  position: static;
  margin: 0 15px 5px 0;
  padding: 0;
  width: auto;
  list-style-type: none !important;
  font-size: 30px;
  line-height: 40%;
}
/* line 200, ../sass/widget.scss */
.prose.body .viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  content: "\002022";
}
/* line 205, ../sass/widget.scss */
.prose.body .viz-legend-item:last-of-type {
  margin-right: 0;
}
/* line 210, ../sass/widget.scss */
.prose.body .viz-legend-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 0 15px 5px 0;
  background-color: white;
  font-size: 36px;
  line-height: 40%;
}
/* line 217, ../sass/widget.scss */
.prose.body .viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  color: inherit;
  content: "\002022" !important;
}
/* line 223, ../sass/widget.scss */
.prose.body .viz-legend-item:last-of-type {
  margin-right: 0;
}
/* line 228, ../sass/widget.scss */
.prose.body .viz-detail {
  color: #99948a;
}
/* line 232, ../sass/widget.scss */
.prose.body .viz-bracket-date-list {
  margin: 0 0 30px;
}
/* line 236, ../sass/widget.scss */
.prose.body .viz-bracket-date {
  position: absolute;
  padding: 0;
  font-size: 11px;
}
/* line 240, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(1) {
  left: 0px;
}
/* line 243, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(2) {
  left: 12%;
}
/* line 246, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(3) {
  left: 23%;
}
/* line 249, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(4) {
  left: 34%;
}
/* line 252, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(5) {
  left: 47%;
}
/* line 255, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(6) {
  right: 34%;
}
/* line 258, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(7) {
  right: 23%;
}
/* line 261, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(8) {
  right: 12%;
}
/* line 264, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(9) {
  right: 0px;
}
/* line 269, ../sass/widget.scss */
.prose.body .viz-bracket-competitor-name {
  font-weight: 500;
}
/* line 273, ../sass/widget.scss */
.prose.body .viz-info-instructions, .prose.body .viz-info-instructions:first-child, .prose.body .viz-info-instructions:first-line {
  color: #33312e;
  font-size: 12px !important;
  line-height: 130%;
}
/* line 279, ../sass/widget.scss */
.prose.body .viz-headshot {
  max-width: none;
}
/* line 283, ../sass/widget.scss */
.prose.body .viz-designer-name, .prose.body .viz-designer-job {
  margin-bottom: 0;
}
/* line 287, ../sass/widget.scss */
.prose.body .viz-bracket-designer-description, .prose.body .viz-bracket-designer-description:first-child, .prose.body .viz-bracket-designer-description:first-line {
  margin-bottom: 0;
  color: #99948a;
  font-size: 12px !important;
  line-height: 140%;
}
/* line 294, ../sass/widget.scss */
.prose.body .viz-designer-name, .prose.body .viz-designer-name:first-child, .prose.body .viz-designer-name:first-line {
  margin-bottom: 2px;
  color: #33312e;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 100%;
}
/* line 302, ../sass/widget.scss */
.prose.body .viz-designer-job, .prose.body .viz-designer-job:first-child, .prose.body .viz-designer-job:first-line {
  color: #99948a;
  font-size: 11px !important;
  line-height: 120%;
}
/* line 308, ../sass/widget.scss */
.prose.body .viz-champion-name, .prose.body .viz-champion-name:first-child, .prose.body .viz-champion-name:first-line {
  margin: 0 0 5px;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 80%;
  color: #33312e;
}
/* line 316, ../sass/widget.scss */
.prose.body .viz-champion-seed {
  font-weight: 300;
}
/* line 320, ../sass/widget.scss */
.prose.body .viz-champion-headshot {
  max-width: none;
  width: 60px;
}
/* line 325, ../sass/widget.scss */
.prose.body .viz-champion-label, .prose.body .viz-champion-label:first-child, .prose.body .viz-champion-label:first-line {
  margin: 0;
  color: #99948a;
  font-size: 10px !important;
  line-height: 80%;
}
/* line 332, ../sass/widget.scss */
.prose.body .viz-underline {
  color: #33312e;
  line-height: 160% !important;
  font-size: 15px !important;
}
/* line 343, ../sass/widget.scss */
.prose.body .viz-quiz {
  max-width: none;
}
/* line 347, ../sass/widget.scss */
.prose.body .viz-choices-group {
  margin: 0 0 20px;
  list-style-type: none !important;
  vertical-align: top;
}
/* line 353, ../sass/widget.scss */
.prose.body .viz-choice-item {
  position: static;
  margin-bottom: 0;
  padding: 5px 0;
  width: 100%;
  list-style-type: none !important;
}
/* line 359, ../sass/widget.scss */
.prose.body .viz-choice-item:nth-child(2n) {
  margin-bottom: 10px;
}
/* line 362, ../sass/widget.scss */
.prose.body .viz-choice-item:last-of-type {
  padding-bottom: 0;
}
/* line 367, ../sass/widget.scss */
.prose.body .viz-division .viz-choice-loser {
  margin-bottom: 0;
  padding: 5px 0 0px;
}
/* line 372, ../sass/widget.scss */
.prose.body .viz-vs {
  color: #ccc6b9;
  line-height: 120%;
}
/* line 377, ../sass/widget.scss */
.prose.body .viz-submitted-alert {
  margin: -25px 0 10px;
  padding: 5px;
  color: #ccc6b9;
  font-size: 11px !important;
}
/* line 384, ../sass/widget.scss */
.prose.body .viz-designer-description, .prose.body .viz-designer-description:first-child, .prose.body .viz-designer-description:first-line {
  margin: 0px;
  padding: 10px 0;
  color: #99948a;
  font-size: 12px !important;
  line-height: 140%;
}
/* line 392, ../sass/widget.scss */
.prose.body .viz-choice-loser .viz-designer-name, .prose.body .viz-choice-loser .viz-designer-name:first-child, .prose.body .viz-choice-loser .viz-designer-name:first-line {
  color: #99948a !important;
  font-weight: 300 !important;
}
/* line 401, ../sass/widget.scss */
.prose.body .viz-rankings {
  max-width: none;
}
/* line 405, ../sass/widget.scss */
.prose.body .viz-division-finals {
  width: 100%;
  margin-bottom: 35px !important;
  padding: 0;
}
/* line 411, ../sass/widget.scss */
.prose.body .viz-division-list {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}
/* line 417, ../sass/widget.scss */
.prose.body .viz-division {
  margin: 0 0 35px;
}
/* line 421, ../sass/widget.scss */
.prose.body .viz-group-2 .viz-division:last-of-type {
  margin-bottom: 0;
}
/* line 426, ../sass/widget.scss */
.prose.body .viz-division-button {
  border: none;
}
/* line 430, ../sass/widget.scss */
.prose.body .viz-division-title {
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 80%;
}
/* line 437, ../sass/widget.scss */
.prose.body .viz-division-name {
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}
/* line 441, ../sass/widget.scss */
.prose.body .viz-division-round {
  margin: 10px 0 16px;
  color: #33312e;
  font-weight: 600 !important;
  font-size: 15px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
}
/* line 449, ../sass/widget.scss */
.prose.body .viz-division-designers-list {
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
}
/* line 455, ../sass/widget.scss */
.prose.body .viz-transition {
  position: absolute;
}
/* line 457, ../sass/widget.scss */
.prose.body .viz-transition .viz-vs {
  opacity: 0;
}
