/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 21, ../sass/partials/_base.scss */
.viz-combo {
  display: static;
}

/* line 26, ../sass/partials/_base.scss */
.viz-combo-reveal {
  display: none;
}

/* line 37, ../sass/partials/_base.scss */
.viz-inactive {
  opacity: 0.35;
}

/* line 41, ../sass/partials/_base.scss */
.viz-active {
  opacity: 1;
}

/* line 34, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 38, ../sass/widget.scss */
.full-view {
  padding-left: 0;
}

/* line 42, ../sass/widget.scss */
#page.kind-longread #page-main .after-body {
  margin: 0;
}

/* line 46, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 50, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header {
  padding-right: 0 !important;
}

/* line 54, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view .prose.body {
  padding-right: 0 !important;
}

/* line 58, ../sass/widget.scss */
#page-body {
  padding: 0 20px;
}
@media (min-width: 600px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 30px;
  }
}
@media (min-width: 850px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 50px;
  }
}
@media (min-width: 1000px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 200px 0 20px;
  }
}

/* line 71, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header .title {
  margin-top: 24px;
  margin-bottom: 15px;
}

/* line 76, ../sass/widget.scss */
.full-view .byline {
  display: none;
}

/* line 80, ../sass/widget.scss */
.full-view > header .deck, .full-view > header .deck p {
  margin-bottom: 0;
  font-weight: 500 !important;
}

/* line 88, ../sass/widget.scss */
.prose.body * {
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 92, ../sass/widget.scss */
.prose.body img {
  max-width: none;
}
/* line 96, ../sass/widget.scss */
.prose.body form {
  margin: 0 0 -15px 0;
}
/* line 100, ../sass/widget.scss */
.prose.body table {
  margin: 0;
  border: none;
}
/* line 105, ../sass/widget.scss */
.prose.body table thead, .prose.body table tfoot {
  background: none;
}
/* line 109, ../sass/widget.scss */
.prose.body p, .prose.body p:first-child, .prose.body p:first-line {
  color: inherit;
  font-weight: inherit !important;
  font-family: inherit !important;
  line-height: inherit;
}
/* line 116, ../sass/widget.scss */
.prose.body label {
  margin: 0;
}
/* line 120, ../sass/widget.scss */
.prose.body ol {
  list-style-type: none;
  line-height: 100%;
}
/* line 123, ../sass/widget.scss */
.prose.body ol li {
  width: auto;
}
/* line 128, ../sass/widget.scss */
.prose.body ul {
  margin: 0;
}
/* line 130, ../sass/widget.scss */
.prose.body ul li {
  padding-left: 0;
  line-height: 100%;
}
/* line 136, ../sass/widget.scss */
.prose.body ol > li:before {
  position: static;
}
/* line 140, ../sass/widget.scss */
.prose.body ul > li:before {
  content: none;
}
/* line 146, ../sass/widget.scss */
.prose.body .viz-hed {
  margin: 0;
  padding: 5px 10px 7px;
  padding: 5px 10px 7px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600 !important;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 158, ../sass/widget.scss */
.prose.body .viz-subhead {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 110%;
}
/* line 166, ../sass/widget.scss */
.prose.body .viz-copy, .prose.body .viz-copy:first-line, .prose.body .viz-copy:first-child {
  color: #33312e !important;
  font-size: 14px !important;
  line-height: 140% !important;
  font-weight: 500 !important;
}
/* line 173, ../sass/widget.scss */
.prose.body .viz-smallcaps {
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
  line-height: 120%;
}
/* line 179, ../sass/widget.scss */
.prose.body .viz-detail {
  color: #99948a !important;
  text-transform: none;
}
/* line 184, ../sass/widget.scss */
.prose.body .viz-source, .prose.body .viz-source:first-line, .prose.body .viz-source:first-child {
  margin: 0 0 7px;
  color: #99948a !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
  line-height: 140% !important;
}
/* line 195, ../sass/widget.scss */
.prose.body .viz-map-hed {
  margin-bottom: 10px !important;
  text-align: center;
  line-height: 120%;
}
/* line 201, ../sass/widget.scss */
.prose.body .viz-nav-btn {
  border-bottom: none;
  color: #99948a !important;
}
/* line 204, ../sass/widget.scss */
.prose.body .viz-nav-btn:hover {
  color: #66635d !important;
}
/* line 209, ../sass/widget.scss */
.prose.body .viz-nav-btn-active {
  color: #33312e !important;
}
/* line 213, ../sass/widget.scss */
.prose.body .viz-state {
  margin-bottom: 20px;
  padding: 0;
}
/* line 218, ../sass/widget.scss */
.prose.body .viz-state-anchor {
  border-bottom: none;
  color: #33312e !important;
}
/* line 223, ../sass/widget.scss */
.prose.body .viz-content-map {
  margin: 24px 0;
  margin-right: -312px;
  max-width: 940px;
}
/* line 229, ../sass/widget.scss */
.prose.body .viz-footer {
  margin-right: -312px;
  max-width: 940px;
}
/* line 234, ../sass/widget.scss */
.prose.body .viz-ing-segment {
  width: 25%;
}
/* line 238, ../sass/widget.scss */
.prose.body .viz-reg-segment {
  width: 16.666666667%;
}
/* line 242, ../sass/widget.scss */
.prose.body .viz-scale-label, .prose.body .viz-scale-label:first-line, .prose.body .viz-scale-label:first-child {
  margin: 0 0 5px;
  width: 100%;
  color: #33312e !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
}
