// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Base styles

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-article {
	margin: 0 auto;
	max-width: 940px;
	height: 100%;
	color: $txt-black;
	font-size: 15px;
	font-family: $sans;
	text-rendering: optimizeLegibility;
}

.viz-combo-group  {
	// @include trans(0.2s, opacity, ease-in);
}

.viz-combo {
	// cursor: pointer;
	display: static;
}

.viz-combo-reveal {
	// cursor: pointer;
	display: none;
}

.viz-ingredients {
	// @include trans(0.2s, opacity, ease-in);
	// cursor: pointer;

}

.viz-inactive {
	opacity: 0.35;
}

.viz-active {
	opacity: 1;
}
